/* global */

h1, h2, h3 {
    font-family: Courgette, cursive;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: #C5742C;
}

.bg-primary {
    background-color: #4D6E7F !important;
}

/* home page */

.jumbotron {
    margin-bottom: 0 !important;
    background-color: #7E8D9C !important;
}